.banners {
  margin-bottom: 40px;
}

.banners__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.banners__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  min-height: 230px;
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  border-radius: 15px;
}

.banners__item--raspberry {
  background: #631a29 url("../img/raspberry-bg.jpg") no-repeat;
}

.banners__item--chocolate {
  background: #4c3327 url("../img/chocolate-bg.jpg") no-repeat;
}

.banners__title,
.banners__desc {
  margin: 0;
  margin-bottom: 17px;

  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}

.banners__title {
  font-size: 35px;
}

.banners__desc {
  font-size: 18px;
}

.banners__link {
  margin-top: auto;
  margin-left: auto;

  border-radius: 21px;
}
