.basket__link {
  position: relative;

  display: inline-block;
  padding-top: 9px;
  padding-right: 35px;
  padding-bottom: 9px;
  padding-left: 45px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: #ffffff;
  text-decoration: none;

  background: rgba(255,255,255,0.2);
  border-radius: 15px;

  &:hover,
  &:focus {
    color: #000000;

    background: #ffffff;

    .basket__icon {
      fill: #000000;
    }
  }

  &:active {
    box-shadow: inset 0 2px 1px 0 rgba(34, 34, 34, 0.7);
  }
}

.basket__icon {
  position: absolute;
  top: 6px;
  left: 16px;

  fill: #ffffff;
}

.basket--full .basket__link {
  color: #323232;

  background: #ffffff;
}

.basket__tooltip {
  background: #ffffff;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.basket__table {
  font-size: 13px;
  line-height: 1.2;
}

.basket__total {
  font-weight: 700;
  font-size: 15px;
}

.basket__push-button {
  font-size: 18px;
  line-height: 1.3;
}
