.basket__link {
  font-size: 14px;
  line-height: 1.1;
  color: #ffffff;
  text-decoration: none;

  background: rgba(255,255,255,0.2);
}

.basket--full .basket__link {
  color: #323232;

  background: #ffffff;
}

.basket__tooltip {
  background: #ffffff;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.basket__table {
  font-size: 13px;
  line-height: 1.2;
}

.basket__total {
  font-weight: 700;
  font-size: 15px;
}

.basket__push-button {
  font-size: 18px;
  line-height: 1.3;
}
