.inner-page .catalog {
  margin-bottom: 80px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  list-style-type: none;
}

.catalog__item {
  position: relative;

  width: 267px;
  margin-top: -40px;
  margin-right: 26px;

  border-radius: 5px;

  &:hover {
    z-index: 10;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

    .catalog__preview {
      visibility: visible;
    }
  }

  &:nth-of-type(4n) {
    margin-right: 0;
  }
}

.hits .catalog__item {
  margin-bottom: 0;
}

.catalog__inner {
  position: relative;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 17px;
  padding-left: 10px;

  text-align: center;
}

.catalog__inner a {
  text-decoration: none;
}

.catalog__picture {
  position: relative;

  display: block;
  margin-bottom: 15px;

  img {
    display: block;
    width: 267px;

    border-radius: 50%;
  }
}

.catalog__hit-icon {
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 60px;
}

.catalog__price {
  position: absolute;
  top: 200px;

  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 1;
  color: #ffffff;
}

.catalog__price span {
  font-size: 30px;
  line-height: 1.5;
}

.catalog__name {
  font-weight: 500;
  line-height: 1.4;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &:hover {
    color: #e84d37;

    border-bottom-color: #f9cdc4;
  }

  &:active {
    color: darken(#e48d37, 25);
  }
}

.catalog__preview {
  margin-top: 17px;

  border-radius: 21px;
  visibility: hidden;
}
