.contacts {
  position: absolute;
  top: 60px;
  right: 52px;

  width: 300px;
  padding: 30px 25px;

  background: #ffffff;
  border-radius: 15px;
}

.contacts address {
  font-size: 14px;
  font-style: normal;
}

.contacts p {
  margin: 0;
  margin-bottom: 22px;
}

.contacts b {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}

.contacts__link {
  width: 100%;

  border-radius: 21px;
}
