.container {
  width: 1146px;
  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

.main-header__wrapper .container {
  display: flex;
  align-items: flex-start;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
