.features {
  margin-bottom: 40px;

  background: #e5dac3 url("../img/features-bg.jpg") repeat-x;
}

.features__promo {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.features__item {
  width: 560px;
}
