.features {
  background: #e5dac3 url("../img/features-bg.jpg") no-repeat;
}

.features__promo {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
}

.features__list {
  list-style-type: none;
}
