.filters {
  font-weight: 500;
  line-height: 1.1;
  color: #ffffff;
}

.filters__block {
  border: none;

  p {
    background: rgba(255, 255, 255, 0.2);
  }
}

.filters__name {
  font-size: 14px;
}

.filters__type {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
  border: none;

  &:hover {
    color: #000;
  }
}
