.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer-navigation__item {
  width: 50%;

  &:nth-child(odd) {
    padding-left: 25px;
  }
}

.footer-navigation__item--hightlight {
  position: relative;

  font-weight: 700;
}

.footer-navigation__icon {
  position: absolute;
  top: 5px;
  left: 5px;

  fill: #ffffff;
}

.footer-navigation__item a {
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &:hover {
    color: #e84d37;

    border-bottom-color: #f9cdc4;
  }

  &:active {
    color: darken(#e48d37, 25);
  }
}
