.hits__list {
  list-style-type: none;
}

.hits__price {
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
  color: #ffffff;
}

.hits__price span {
  font-size: 30px;
  line-height: 1.5;
}

.hits__name {
  font-weight: 500;
  line-height: 1.4;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255,255,255,0.2);

  &:hover {
    color: #e84d37;

    border-bottom-color: #f9cdc4;
  }

  &:active {
    color: #cc4331;
  }
}
