.main-search {
  background: rgba(255,255,255,0.2);

  &:hover {
    background: #ffffff;
  }
}

.main-search__form {
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-search__form-input {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: #323232;

  &::placeholder {
    font-weight: 400;
    color: #999999;
  }

  &:hover {
    border: 2px solid #999999;
  }
}
