.main-search {
  margin-right: 10px;
}

.main-search__link {
  position: relative;

  display: block;
  width: 33px;
  height: 33px;

  background: rgba(255,255,255,0.2);
  border-radius: 50%;


  &:hover,
  &:focus {
    background: #ffffff;

    .main-search__icon {
      fill: #000000;
    }
  }

  &:active {
    box-shadow: inset 0 2px 1px 0 rgba(34, 34, 34, 0.7);
  }
}

.main-search__icon {
  fill: #ffffff;
}

.main-search__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.main-search__form {
  display: none;

  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-search__form-input {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: #323232;

  &::placeholder {
    font-weight: 400;
    color: #999999;
  }

  &:hover {
    border: 2px solid #999999;
  }
}
