.map {
  position: relative;

  height: 428px;

  background: #e7e2ca url("../img/map.jpg") center no-repeat;
  background-size: cover;
}

.map__contacts {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  padding-top: 60px;
  padding-right: calc((100% - 1200px) / 2 + 27px);
}
