.modal {
  background: #f8f7f4;
}

.modal__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
}

.modal__input,
.modal__message {
  font-size: 16px;
  line-height: 1.5;
  color: #999999;
}
