.user {
  margin-right: 10px;
}

.user__link {
  position: relative;

  display: inline-block;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 45px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: #ffffff;
  text-decoration: none;

  background: rgba(255,255,255,0.2);
  border-radius: 15px;


  &:hover,
  &:focus {
    color: #000000;

    background: #ffffff;

    .user__icon {
      fill: #000000;
    }
  }

  &:active {
    box-shadow: inset 0 2px 1px 0 rgba(34, 34, 34, 0.7);
  }
}

.user__icon {
  position: absolute;
  top: 6px;
  left: 17px;

  fill: #ffffff;
}

.user__form {
  display: none;

  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.user__form-input {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: #323232;

  &::placeholder {
    font-weight: 400;
    color: #999999;
  }

  &:hover {
    border: 2px solid #999999;
  }
}

.user__form-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.8;
  color: #323232;

  border-bottom: 1px solid #adacaa;

  &:hover {
    color: #e84d37;

    border-bottom-color: #f9cdc4;
  }

  &:active {
    color: darken(#e48d37, 25);
  }
}
